<div [ngClass]="containerClasses()">
  <!-- Tab List -->
  <div [ngClass]="tabListClasses()" role="tablist" [attr.aria-orientation]="orientation()">
    @for (tab of tabs(); track tab.id; let i = $index) {
      <button
        type="button"
        class="tab-button"
        [class.tab-button-active]="isActive(tab)"
        [disabled]="tab.disabled"
        [attr.data-index]="i"
        role="tab"
        [attr.aria-selected]="isActive(tab)"
        [attr.aria-controls]="'tabpanel-' + tab.id"
        [attr.id]="'tab-' + tab.id"
        [attr.tabindex]="isActive(tab) ? 0 : -1"
        [routerLink]="getRouterLink(tab)"
        [routerLinkActive]="useRouter() ? 'tab-button-active' : ''"
        (click)="selectTab(tab, i)"
        (keydown)="handleKeyDown($event, i)"
      >
        @if (tab.icon) {
          <span class="tab-icon">{{ tab.icon }}</span>
        }
        <span>{{ tab.label }}</span>
        @if (tab.badge !== undefined && tab.badge !== null) {
          @if (tab.badgeVariant) {
            <span [ngClass]="getBadgeClass(tab.badgeVariant)">
              {{ tab.badge }}
            </span>
          } @else {
            <span class="tab-badge">{{ tab.badge }}</span>
          }
        }
      </button>
    }
  </div>

  <!-- Tab Content -->
  @if (useRouter()) {
    <!-- Router Mode: Use router-outlet -->
    <div class="tab-content" role="tabpanel">
      <router-outlet></router-outlet>
    </div>
  } @else {
    <!-- Content Mode: Display static content -->
    @if (activeTabItem()) {
      <div
        class="tab-content"
        role="tabpanel"
        [attr.id]="'tabpanel-' + activeTabItem()!.id"
        [attr.aria-labelledby]="'tab-' + activeTabItem()!.id"
        tabindex="0"
      >
        {{ getActiveContent() }}
      </div>
    }
  }
</div>
