<form
  class="search-bar"
  [class.search-bar-sm]="size() === 'sm'"
  [class.search-bar-md]="size() === 'md'"
  [class.search-bar-lg]="size() === 'lg'"
  [class.search-bar-mobile]="showOnMobile()"
  (submit)="onSearchSubmit($event)"
  role="search"
  aria-label="Search form"
>
  <label [attr.for]="'search-input'" class="sr-only">{{ placeholder() }}</label>
  <div class="search-bar-wrapper">
    <!-- Search Icon -->
    <div class="search-bar-icon" aria-hidden="true">
      <svg
        class="w-5 h-5 text-[var(--color-text-secondary)]"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
        ></path>
      </svg>
    </div>

    <!-- Input -->
    <input
      id="search-input"
      type="text"
      class="search-bar-input"
      [class.search-bar-focused]="isFocused()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [value]="searchQuery()"
      (input)="onSearchInput($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      [attr.aria-label]="placeholder()"
    />

    <!-- Clear Button -->
    @if (searchQuery() && !disabled()) {
      <button
        type="button"
        class="search-bar-clear"
        (click)="clearSearch()"
        aria-label="Clear search"
      >
        <svg
          class="w-4 h-4 text-[var(--color-text-secondary)]"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    }
  </div>
</form>
